.unity-two-pane-split-view__dragline--horizontal {
    cursor: url('cursor_left_right_width.png') 15 15;
}
 
.unity-two-pane-split-view__dragline--vertical {
    cursor: url('cursor_up_down_height.png') 15 15;
}